@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Open+Sans:wght@300&display=swap');
    
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-weight: 500;
    scroll-behavior: smooth;
    color: #000000;
    background: #ffffff;
}

.menu-btn {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-image: url(img/menu.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}

.menu-btn.active {
    position: fixed;
    background-image: url(img/close.png);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

section {
    padding: 100px;
    min-height: 100vh;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}

.banner .content-box, .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}


.banner .content-box h1 {
    font-size: 10em;
    font-family: 'Cormorant', serif;
    letter-spacing: -7px;
    line-height: 1.5em;
    text-transform: none;
}

.banner .content-box h2 {
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -70px;
    margin-left: 330px;
}

.nav-btn {
    background: #000000;
    color: #ffffff;
    transition: background-color 0.7s;
    padding: 10px 30px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    min-width: 240px;
}

.nav-btn:hover {
    background: #4d4d4d;
}

.nav-btn span {
    background: #000000;
    color: #ffffff;
    position: relative;
    transition: 0.7s;
}
  
.nav-btn span:after {
    content: '→';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
}
  
.nav-btn:hover span {
    background: #4d4d4d;
    padding-right: 25px;
}
  
.nav-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.sidebar {
    position: fixed;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Cormorant', serif;
    margin: 10px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.title {
    width: 100%;
    text-align: center;
}
.title h2 {
    position: relative;
    font-size: 2em;
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000000;
}

.project .title {
    text-align: left;
    margin-bottom: 50px;
}

.project .title h2::before {
    left: 0%;
    transform: translateX(0%);
}

.content {
    display: flex;
    margin-top: 50px;
}

.about .content {
    justify-content: center;
}

.about .content .text-box {
    width: 70%;
}

.about .content .text-box p, .project .content .text-box p {
    font-size: 1em;
    letter-spacing: 2px;
}

.work .content {
    width: 90%;
    margin: 50px auto auto;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.work .content .work-box {
    position: relative;
    width: 500px;
    height: 375px;
    margin: 0px 15px 30px;
    transition: 0.5s;
    text-align: center;
}

.work .content .work-box .image-box,
.work .content .work-box .text-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.work .content .work-box .image-box {
    align-items: center;
}

.work .content .work-box .text-box {
    padding-bottom: 40px;
    align-items: end;
}

.work .content .work-box .image-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work .content .work-box .text-box {
    background: #000000;
    opacity: 0;
    transition: 0.7s;
}

.work .content .work-box:hover .text-box {
    opacity: 1;
}

.work .content .work-box .text-box a {
    font-size: 1.2em;
    font-family: 'Cormorant', serif;
    background: #000000;
    color: #ffffff;
    letter-spacing: 5px;
}

.project .content {
    width: 80%;
    margin: 50px auto auto;
    justify-content: space-between;
}

.project .content .text-box {
    min-width: 40%;
    width: 40%;
    margin-left: 20px;
}

.project .content .text-box a {
    font-size: 1.2em;
    font-family: 'Cormorant', serif;
    text-transform: none;
}

.project .content .text-box a:hover {
    text-decoration: underline;
}

.btn-wrapper {
    position: absolute;
    background: none;
    padding-top: 14px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}
  
.window-btn {
    width: 0.8em;
    height: 0.8em;
    border-radius: 50%;
    margin-right: 10px;
}
  
.close-btn {
    background: #fe5f57;
}
  
.min-btn {
    background: #febb2f;
}
  
.max-btn {
    background: #29c740;
}

.project .content .image-box {
    margin-left: 20px;
}

.project .content .image-box img {
    padding: 37px 5px 5px;
    border: 1px solid #000000;
    max-width: 100%;
}

.contact .content {
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.contact .content .text-box p {
    text-align: center;
    font-size: 1.2em;
}

.contact .content .text-box a {
    text-decoration: underline;
}

.copyright {
    text-align: center;
}

.copyright p {
    margin: 20px;
    font-size: 16px;
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
}

@media(max-width: 1024px) {

    .menu-btn {
        position: absolute;
    }
    
    .banner .content-box, .sidebar {
         padding: 40px;
    }

    .banner .content-box h1 {
        font-size: 7em;
    }
    
    .banner .content-box h2 {
        font-size: 1.2em;
        margin-top: -50px;
        margin-left: 215px;
    }

    section {
        padding: 40px;
    }

    .sidebar ul li a {
        font-size: 1.5em;
    }


    .work .content {
        width: 100%;
        margin: 50px 0px 0px;
    }

    .work .content .work-box {
        max-width: 400px;
        max-height: 300px;
        width: 100%;
        margin: 0px 10px 20px;
    }

    .project .content {
        width: 70%;
        flex-direction: column;
    }

    .project .content .text-box {
        min-width: 100%;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .project .content .image-box {
        margin-left: 0px;
        margin-bottom: 20px;
    }
}

@media(max-width: 540px) {

    .banner .content-box h1 {
        font-size: 4em;
        letter-spacing: -5px;
        line-height: 50px;
    }

    .banner .content-box h2 {
        font-size: 0.7em;
        margin: 5px 0px 10px;
    }

    .nav-btn {
        margin-top: 10px;
    }

    .title h2 {
        font-size: 1.5em;
    }

    .menu-btn {
        right: 25px;
    }

    section {
        padding: 25px;
    }

    section.work {
        padding: 25px 0px;
    }
    
    .about .content .text-box {
        width: 100%;
    }

    .about .content .text-box p, .project .content .text-box p {
        font-size: 0.75em;
    }

    .work .content .work-box {
        max-width: none;
        max-height: 310px;
        margin: 0px 0px 15px;
    }

    .project .content {
        width: 100%;
        margin: 50px 0px 0px;
    }
}